name: TF Plan Comment
on:
  workflow_run:
    workflows: ["Pre Pull Request Check"]
    types:
      - completed

permissions:
  issues: write
  pull-requests: write

jobs:
  main-branch-push:
    runs-on: [self-hosted, 1ES.Pool=terraform-azure-modules]
    steps:
      - uses: 8BitJonny/gh-get-current-pr@2215326c76d51bfa3f2af0a470f32677f6c0cae9 # 2.2.0
        id: PR
      - name: checkout
        if: steps.PR.outputs.pr_found == 'true'
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # 3.6.0
      - name: Download pr tfplan
        if: steps.PR.outputs.pr_found == 'true'
        run: |
          az login --identity --username $MSI_ID > /dev/null
          az storage blob download --account-name tfmod1espoolstatestorage --container-name azure-verified-tfmod-pull-request-plans --name tfplan_${{steps.PR.outputs.number}} --no-progress --file tfplan --auth-mode login
      - uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1 # 2.0.3
        if: steps.PR.outputs.pr_found == 'true'
      - name: Setup Terragrunt
        if: steps.PR.outputs.pr_found == 'true'
        uses: autero1/action-terragrunt@22b4647f1263865cda4473831640e71d349db2cd # 1.3.2
        with:
          terragrunt_version: latest
          token: ${{ secrets.GITHUB_TOKEN }}
#      - name: Apply
#        if: steps.PR.outputs.number != ''
#        run: |
#          az login --identity --username $MSI_ID > /dev/null
#          export ARM_SUBSCRIPTION_ID=$(az login --identity --username $MSI_ID | jq -r '.[0] | .id')
#          export ARM_TENANT_ID=$(az login --identity --username $MSI_ID | jq -r '.[0] | .tenantId')
#          export ARM_USE_MSI=true
#          sh scripts/terragrunt-init.sh
      - name: Show Terraform Plan
        if: steps.PR.outputs.pr_found == 'true'
        id: tfshow
        uses: mathiasvr/command-output@34408ea3d0528273faff3d9e201761ae96106cd0 # 2.0.0
        with:
          run:
            terraform show -no-color tfplan
      - name: PR comment with reactions
        if: steps.PR.outputs.pr_found == 'true'
        uses: thollander/actions-comment-pull-request@8a3fad13c20088e9eb0805666b9fe49509d2fec8 # 1.6.0
        with:
          message: |
            ```
            ${{ steps.tfshow.outputs.stdout }}
            ```
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          pr_number: ${{ steps.PR.outputs.number }}